# Bike Sharing Demand
## Michał Binda, Mikołaj Mróz, Paweł Swiderski

In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pylab
import calendar
import seaborn as sn
from scipy import stats
# import missingno as msno
from datetime import datetime
import warnings
%matplotlib inline

In [2]:
df_train = pd.read_csv('train.csv',header = 0)

In [11]:
X_train = df_train.iloc[:,:-1] 
y_train = df_train["count"]

## Data exploration

In [14]:
df_train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

#### **Data Fields**

* datetime - hourly date + timestamp  
* season -  1 = spring, 2 = summer, 3 = fall, 4 = winter 
* holiday - whether the day is considered a holiday
* workingday - whether the day is neither a weekend nor holiday
* weather - 
    * 1: Clear, Few clouds, Partly cloudy, Partly cloudy
    * 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist
    * 3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds
    * 4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog 
* temp - temperature in Celsius
* atemp - "feels like" temperature in Celsius
* humidity - relative humidity
* windspeed - wind speed
* casual - number of non-registered user rentals initiated
* registered - number of registered user rentals initiated
* count - number of total rentals (Dependent Variable)

In [50]:
df_train.shape

(10886, 19)

In [51]:
#checking unique values in each column
for col in df_train:
    print(f"Value counts for column '{col}':")
    print(df_train[col].value_counts())
    print("\n")

Value counts for column 'datetime':
2011-01-01 00:00:00    1
2012-05-01 21:00:00    1
2012-05-01 13:00:00    1
2012-05-01 14:00:00    1
2012-05-01 15:00:00    1
                      ..
2011-09-02 04:00:00    1
2011-09-02 05:00:00    1
2011-09-02 06:00:00    1
2011-09-02 07:00:00    1
2012-12-19 23:00:00    1
Name: datetime, Length: 10886, dtype: int64


Value counts for column 'season':
4    2734
2    2733
3    2733
1    2686
Name: season, dtype: int64


Value counts for column 'holiday':
0    10575
1      311
Name: holiday, dtype: int64


Value counts for column 'workingday':
1    7412
0    3474
Name: workingday, dtype: int64


Value counts for column 'weather':
1    7192
2    2834
3     859
4       1
Name: weather, dtype: int64


Value counts for column 'temp':
14.76    467
26.24    453
28.70    427
13.94    413
18.86    406
22.14    403
25.42    403
16.40    400
22.96    395
27.06    394
24.60    390
12.30    385
21.32    362
17.22    356
13.12    356
29.52    353
10.66    332
18.04    328
20.50    327
30.34    299
9.84     294
15.58    255
9.02     248
31.16    242
8.20     229
27.88    224
23.78    203
32.80    202
11.48    181
19.68    170
6.56     146
33.62    130
5.74     107
7.38     106
31.98     98
34.44     80
35.26     76
4.92      60
36.90     46
4.10      44
37.72     34
36.08     23
3.28      11
0.82       7
38.54      7
39.36      6
2.46       5
1.64       2
41.00      1
Name: temp, dtype: int64


Value counts for column 'atemp':
31.060    671
25.760    423
22.725    406
20.455    400
26.515    395
16.665    381
25.000    365
33.335    364
21.210    356
30.305    350
15.150    338
21.970    328
24.240    327
17.425    314
31.820    299
34.850    283
27.275    282
32.575    272
11.365    271
14.395    269
29.545    257
19.695    255
15.910    254
12.880    247
13.635    237
34.090    224
12.120    195
28.790    175
23.485    170
10.605    166
35.605    159
9.850     127
18.180    123
36.365    123
37.120    118
9.090     107
37.880     97
28.030     80
7.575      75
38.635     74
6.060      73
39.395     67
6.820      63
8.335      63
18.940     45
40.150     45
40.910     39
5.305      25
42.425     24
41.665     23
3.790      16
4.545      11
3.030       7
43.940      7
2.275       7
43.180      7
44.695      3
0.760       2
1.515       1
45.455      1
Name: atemp, dtype: int64


Value counts for column 'humidity':
88    368
94    324
83    316
87    289
70    259
     ...
8       1
10      1
97      1
96      1
91      1
Name: humidity, Length: 89, dtype: int64


Value counts for column 'windspeed':
0.0000     1313
8.9981     1120
11.0014    1057
12.9980    1042
7.0015     1034
15.0013     961
6.0032      872
16.9979     824
19.0012     676
19.9995     492
22.0028     372
23.9994     274
26.0027     235
27.9993     187
30.0026     111
31.0009      89
32.9975      80
35.0008      58
39.0007      27
36.9974      22
43.0006      12
40.9973      11
43.9989       8
46.0022       3
56.9969       2
47.9988       2
51.9987       1
50.0021       1
Name: windspeed, dtype: int64


Value counts for column 'casual':
0      986
1      667
2      487
3      438
4      354
      ...
332      1
361      1
356      1
331      1
304      1
Name: casual, Length: 309, dtype: int64


Value counts for column 'registered':
3      195
4      190
5      177
6      155
2      150
      ...
570      1
422      1
678      1
565      1
636      1
Name: registered, Length: 731, dtype: int64


Value counts for column 'count':
5      169
4      149
3      144
6      135
2      132
      ...
801      1
629      1
825      1
589      1
636      1
Name: count, Length: 822, dtype: int64


Value counts for column 'tempDate':
[2011-01-01, 00:00:00]    1
[2012-05-01, 21:00:00]    1
[2012-05-01, 13:00:00]    1
[2012-05-01, 14:00:00]    1
[2012-05-01, 15:00:00]    1
                         ..
[2011-09-02, 04:00:00]    1
[2011-09-02, 05:00:00]    1
[2011-09-02, 06:00:00]    1
[2011-09-02, 07:00:00]    1
[2012-12-19, 23:00:00]    1
Name: tempDate, Length: 10886, dtype: int64


Value counts for column 'year':
2012    5464
2011    5422
Name: year, dtype: int64


Value counts for column 'month':
August       912
December     912
July         912
June         912
May          912
November     911
October      911
April        909
September    909
February     901
March        901
January      884
Name: month, dtype: int64


Value counts for column 'day':
01    575
09    575
17    575
05    575
16    574
15    574
14    574
13    574
19    574
08    574
07    574
04    574
02    573
12    573
03    573
06    572
10    572
11    568
18    563
Name: day, dtype: int64


Value counts for column 'date':
2011-01-01    24
2012-04-18    24
2012-05-10    24
2012-05-09    24
2012-05-08    24
              ..
2011-01-12    22
2011-01-11    22
2011-01-03    22
2011-02-11    22
2011-01-18    12
Name: date, Length: 456, dtype: int64


Value counts for column 'hour':
12    456
13    456
22    456
21    456
20    456
19    456
18    456
17    456
16    456
15    456
14    456
23    456
11    455
10    455
09    455
08    455
07    455
06    455
00    455
01    454
05    452
02    448
04    442
03    433
Name: hour, dtype: int64


Value counts for column 'weekday':
Saturday     1584
Sunday       1579
Thursday     1553
Monday       1551
Wednesday    1551
Tuesday      1539
Friday       1529
Name: weekday, dtype: int64

In [52]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  category
 2   holiday     10886 non-null  category
 3   workingday  10886 non-null  category
 4   weather     10886 non-null  category
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
 12  tempDate    10886 non-null  object
 13  year        10886 non-null  object
 14  month       10886 non-null  category
 15  day         10886 non-null  object
 16  date        10886 non-null  object
 17  hour        10886 non-null  category
 18  weekday     10886 non-null  category
dtypes: category(7), float64(3), int64(4), object(5)
memory usage: 1.1+ MB

Dataframe contains of multiple columns, we will predict 'count' column. In order to do it we have to think of a way of handling object values

In [53]:
print(df_train['datetime'].value_counts())

2011-01-01 00:00:00    1
2012-05-01 21:00:00    1
2012-05-01 13:00:00    1
2012-05-01 14:00:00    1
2012-05-01 15:00:00    1
                      ..
2011-09-02 04:00:00    1
2011-09-02 05:00:00    1
2011-09-02 06:00:00    1
2011-09-02 07:00:00    1
2012-12-19 23:00:00    1
Name: datetime, Length: 10886, dtype: int64

In [54]:
def modify_datetime(df):
    df["date"] = df.datetime.apply(lambda x : x.split()[0])
    df["hour"] = df.datetime.apply(lambda x : x.split()[1].split(":")[0])
    df["weekday"] = df.date.apply(lambda dateString : calendar.day_name[datetime.strptime(dateString,"%Y-%m-%d").weekday()])
    df["month"] = df.date.apply(lambda dateString : calendar.month_name[datetime.strptime(dateString,"%Y-%m-%d").month])
    
    
    
    return df

In [55]:
def modify_to_category(df):
    categoryVariableList = ["hour","weekday","month","season","weather","holiday","workingday"]
    for var in categoryVariableList:
        df[var] = df[var].astype("category")
    
    return df

In [72]:
def drop_datetime(df):
    
    return df.drop(['datetime'],axis=1)

In [73]:
df_train2 = modify_datetime(df_train)
df_train3 = modify_to_category(df_train2)
df_train4 = drop_datetime(df_train3)

In [58]:
df_train2.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,tempDate,year,month,day,date,hour,weekday
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,"[2011-01-01, 00:00:00]",2011,January,01,2011-01-01,00,Saturday
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,"[2011-01-01, 01:00:00]",2011,January,01,2011-01-01,01,Saturday
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,"[2011-01-01, 02:00:00]",2011,January,01,2011-01-01,02,Saturday
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,"[2011-01-01, 03:00:00]",2011,January,01,2011-01-01,03,Saturday
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,"[2011-01-01, 04:00:00]",2011,January,01,2011-01-01,04,Saturday

In [59]:
df_train2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  category
 2   holiday     10886 non-null  category
 3   workingday  10886 non-null  category
 4   weather     10886 non-null  category
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
 12  tempDate    10886 non-null  object
 13  year        10886 non-null  object
 14  month       10886 non-null  category
 15  day         10886 non-null  object
 16  date        10886 non-null  object
 17  hour        10886 non-null  category
 18  weekday     10886 non-null  category
dtypes: category(7), float64(3), int64(4), object(5)
memory usage: 1.1+ MB

In [74]:
df_train4.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,tempDate,year,month,day,date,hour,weekday
0,1,0,0,1,9.84,14.395,81,0.0,3,13,16,"[2011-01-01, 00:00:00]",2011,January,01,2011-01-01,00,Saturday
1,1,0,0,1,9.02,13.635,80,0.0,8,32,40,"[2011-01-01, 01:00:00]",2011,January,01,2011-01-01,01,Saturday
2,1,0,0,1,9.02,13.635,80,0.0,5,27,32,"[2011-01-01, 02:00:00]",2011,January,01,2011-01-01,02,Saturday
3,1,0,0,1,9.84,14.395,75,0.0,3,10,13,"[2011-01-01, 03:00:00]",2011,January,01,2011-01-01,03,Saturday
4,1,0,0,1,9.84,14.395,75,0.0,0,1,1,"[2011-01-01, 04:00:00]",2011,January,01,2011-01-01,04,Saturday